body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-image: url("https://th.bing.com/th/id/R.ea4055af846bab2a34fc3b1e8a1ce8fb?rik=GyJtwtF8D%2f4f%2bQ&riu=http%3a%2f%2fngn-mag.com%2fimage%2fwallpaper%2fchristmas-gift-wallpaper-96.jpg&ehk=Ot2v1YkByBVuLvt9lwyAdTDFNEpV%2fBm3e%2bM0kGRaPbc%3d&risl=&pid=ImgRaw&r=0"); */

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
